* {
    margin: 0;
    padding: 0;
    position: relative;
}

section {
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(
        rgba(39, 146, 245, 0.8) 0%,
        rgba(4, 64, 119, 0.8) 100%
    );
    color: white;
}

h2, h3, h4 {
    background-color: rgba(200, 109, 263, 0.3);
}

body {
    background-color: #bbb;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gray;
}

.active {
    background-color: black;
}